/*== Homepage Styles ==*/
.main > .home,
.main > .about,
.main > .portfolio,
.main > .services {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	/*background-image: url('https://static.pexels.com/photos/196658/pexels-photo-196658.jpeg');
	background-image: url('../_images/bg.jpg');
	background-color: #09524e;
	background-blend-mode: multiply;
	background-size: cover;*/
	z-index: 10;
}

.main > div {
	display: none;
	opacity: 0;
	-webkit-transition: all 0.5s ease-in-out forwards;
	-moz-transition: all 0.5s ease-in-out forwards;
	transition: all 0.5s ease-in-out forwards;
}

.main > div.show {
	display: block;
	opacity: 1;
}

.container {
	width: calc(100vw - 40px);
	height: 100vh;
	background: transparent;
	position: relative;
	top: 0;
	left: 40px;
}

.show .welcome {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.show .message {
	width: auto;
	height: auto;
	float: left;
}

.show .welcome h1 {
	float: left;
	width: 100%;
	height: 40px;
	text-align: left;
	line-height: 40px;
	font-size: 50px;
	margin: 0 0 20px 0;
	opacity: 0;
	-webkit-animation: popup 0.8s ease-in-out forwards;
	-moz-animation: popup 0.8s ease-in-out forwards;
	-ms-animation: popup 0.8s ease-in-out forwards;
	-o-animation: popup 0.8s ease-in-out forwards;
	animation: popup 0.8s ease-in-out forwards;
}

.show .welcome p {
	float: left;
	color: #f0f0f0;
	font-size: 18px;
	line-height: 30px;
	/*text-align: justify;*/
	float: left;
	margin: 2px 5px;
	opacity: 0;
	font-weight: 50px;
	letter-spacing: 0.5px;
}

.show .welcome p {
	-webkit-animation: blurry 5s ease-in-out forwards;
	-moz-animation: blurry 5s ease-in-out forwards;
	-ms-animation: blurry 5s ease-in-out forwards;
	-o-animation: blurry 5s ease-in-out forwards;
	animation: blurry 5s ease-in-out forwards;
}

.show .welcome a {
	float: left;
	display: none;
	position: relative;
	top: 40px;
	left: 50%;
	transform: translateX(-50%);
	width: 200px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	border-radius: 0px;
	box-sizing: border-box;
	border: 1px solid transparent;
	opacity: 0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.show .welcome p.name {
	float: right;
	padding: 5px 20px;
	background-color: #fff;
	color: #222;
	cursor: pointer;
	margin: 20px 0 0 0;
	-webkit-animation: shows 0.8s ease-in-out forwards;
	-moz-animation: shows 0.8s ease-in-out forwards;
	-ms-animation: shows 0.8s ease-in-out forwards;
	-o-animation: shows 0.8s ease-in-out forwards;
	animation: shows 0.8s ease-in-out forwards;
	font-size: 16px;
}










