/*== Homepage Styles ==*/
.home, .about {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-image: url('https://static.pexels.com/photos/251225/pexels-photo-251225.jpeg');
	background-color: #222;
	background-blend-mode: multiply;
	background-size: cover;
	z-index: 10;
}

.container {
	width: calc(100vw - 40px;);
	height: 100vh;
	background: transparent;
	position: relative;
	top: 0;
	left: 40px;
}

.welcome {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.welcome {
	display: block;
}

.message {
	width: auto;
	height: auto;
	float: left;
}

.welcome p {
	color: #f0f0f0;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	float: left;
	margin: 2px 5px;
	-webkit-animation: popup 0.8s ease-in-out forwards;
	-moz-animation: popup 0.8s ease-in-out forwards;
	-ms-animation: popup 0.8s ease-in-out forwards;
	-o-animation: popup 0.8s ease-in-out forwards;
	animation: popup 0.8s ease-in-out forwards;
}

.welcome a {
	float: left;
	display: none;
	position: relative;
	top: 40px;
	left: 50%;
	transform: translateX(-50%);
	width: 200px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	border-radius: 0px;
	transition: all 0.5s ease-in-out;
	box-sizing: border-box;
	border: 1px solid transparent;
	opacity: 0;
}

.welcome a.show {
	opacity: 0.2;
}

.welcome a:hover {
	border-radius: 20px;
	border: 1px solid #fff;
	background-color: rgba(255,255,255, 0.05);
	opacity: 1;
}


.about {
	background-image: url("https://static.pexels.com/photos/6482/black-and-white-man-person-hands.jpg");
}