* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
	font-family: abeezee, comfortaa arial, sans-serif;
	font-size: 14px;
	color: #f0f0f0;
}



a {
	color: #fff;
}

body, html {
	width: 100vw;
	height: 100vh;
}

body {
	overflow: hidden;
	background-color: #222;
}

.wrapper {
	width: 100vw;
	height: 100vw;
	overflow: hidden;
	background-color: transparent;
	position: relative;
	top: 0;
	left: 0;
}

/*== navbar section ==*/
.navbar {
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	width: 40px;
	height: 100vh;
	background-color: rgba(0,0,0,0.5);
}

.navbar .icons {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.navbar .icons ul li, .navbar .icons ul li a {
	position: relative;
	display: block;
	width: 20px;
	height: 20px;
	margin: 30px auto;
}

.navbar .icons ul li a img {
	width: 20px;
	height: 20px;
	filter: brightness(0.3);
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-ms-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}

.navbar .icons ul.color-change li a img {
	filter: brightness(0.6);
}

.navbar .icons ul li.active a img, .navbar .icons ul li a img:hover {
	width: 20px;
	height: 20px;
	filter: brightness(1);
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-ms-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}

.navbar .icons ul li:before {
	content: "";
	position: absolute;
	left: calc(100% + 20px);
	top: 50%;
	transform: translateY(-50%);
	color: rgba(250,250,250,0.5);
	opacity: 0;
	transition: all 0.5s ease-in-out;
}

/*.navbar .icons ul.color-change li:before {
	color: #222;
	font-weight: bolder;
}*/

.navbar .icons ul li:after {
	content: "";
	position: absolute;
	left: calc(100% + 10px);
	top: 50%;
	transform: translateY(-50%);
	color: #f0f0f0;
	width: 0px;
	height: 1px;
	background-color: rgba(250,250,250,0.3);
	opacity: 0;
	transition: all 0.5s ease-in-out;
}

/*.navbar .icons ul.color-change li:after {
	color: #222;
	background-color: #222;
}*/

.navbar .icons ul li.anim:after {
	opacity: 1;
	width: 20px
}

.navbar .icons ul li.anim:before {
	opacity: 1;
	left: calc(100% + 35px);
	transition: all 0.3s 0.2s ease-in-out;
}


.navbar .icons ul li.anim:nth-child(1):before {
	content: "Home";
}

.navbar .icons ul li:nth-child(2):before {
	content: "About";
}

.navbar .icons ul li:nth-child(3):before {
	content: "Portfolio";
}

.navbar .icons ul li:nth-child(4):before {
	content: "Services";
}

.navbar .icons ul li:nth-child(5):before {
	content: "Hire Me";
}


.footer {
	position: absolute;
	bottom: calc(100vh + 40px);
	left: 0;
	width: 100vw;
	height: 20px;
	z-index: 1000000;
	text-align: right;
	line-height: 20px;
	box-sizing: border-box;
	padding-right: 40px;
}

.contact-list {
	position: absolute;
	top: 0;
	right: 0;
	height: 100vh;
	z-index: 10000;
}

.contact-list .contact-btn {
	float: left;
	width: 40px;
	height: 40px;
	background-color: transparent;
	cursor: pointer;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	border: 1px solid #fff;
	border-radius: 50%;
	margin-right: 10px;
	transition: background-color 0.8s ease-in-out;
}

.contact-list .contact-btn:hover {
	background-color: rgba(255,255,255,0.2);
}

.contact-list .contact-btn.active {
	background-color: #fff;
	height: 100%;
	width: 30px;
	border-radius: 0;
	margin-right: 0;
}

.contact-list .contact-btn .btn {
	position: absolute;
	width: 20px;
	height: 2px;
	background-color: #fff;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.contact-list .contact-btn .btn:before, 
.contact-list .contact-btn .btn:after {
	content: "";
	width: 20px;
	height: 2px;
	position: absolute;
	transition: 0.3s;
}

.contact-list .contact-btn .btn:before {
	top: -5px;
	background-color: #fff;
}

.contact-list .contact-btn .btn:after {
	top: 5px;
	background-color: #fff;
}

.contact-list .contact-btn.active .btn {
	background: transparent;
}

.contact-list .contact-btn.active .btn:before {
	transform: rotate(45deg);
	top: 0;
	background-color: #444;
}

.contact-list .contact-btn.active .btn:after {
	transform: rotate(-45deg);
	top: 0;
	background-color: #444;
}

.contact-list .contact-holder {
	float: left;
	width: 300px;
	height: 100%;
	padding: 60px 20px;
	box-sizing: border-box;
	background-color: #222;
	margin-right: -300px;
	transition: all 0.8s ease-in-out;
}

.contact-list .contact-holder.active {
	margin-right: 0px;
}

.contact-list p, .contact-list p a {
	color: rgba(228,216,135,0.5);
	margin: 10px 0;
	transition: all 0.8s ease-in-out;
}

.contact-list p:hover,
.contact-list p a:hover {
	color: rgba(228,216,135,1);
	transition: all 0.3s ease-in-out;
}

.contact-list h1 {
	font-size: 16px;
	border-bottom: 1px dashed rgba(255,255,255,0.3);
	line-height: 25px;
}